rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function authOrAdmin(uid) {
  		return request.auth.uid == uid || request.auth.uid in get(/databases/$(database)/documents/other/admins).data.admins;
  	}

    match /artists/{uid} {
      allow read;
      allow write: if authOrAdmin(uid);
    }
    match /profiles/{uid} {
      allow read, write: if authOrAdmin(uid);
    }
    match /other {
    	match /admins {
      	allow read;
      }
    }
  }
}
