rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /artists/{uid}/{path=**} {
      allow read;
      allow write: if request.auth.uid == uid && request.resource.size < 10 * 1024 * 1024;
    }
    match /profiles/{uid} {
    	match /avatar {
      	allow read;
        allow write: if request.auth.uid == uid && request.resource.size < 10 * 1024 * 1024;
      }
    	match /{path=**} {
      	allow read, write: if request.auth.uid == uid && request.resource.size < 10 * 1024 * 1024;
      }
    }
    match /conversations/{uid}/{oid}/{fid} {
      allow read: if request.auth.uid == uid || request.auth.uid == oid;
      allow write: if request.auth.uid == uid && request.resource.size < 20 * 1024 * 1024;
    }
  }
}
