<h1>My artist profile</h1>
<ng-container *ngIf="afAuth.user | withLoading | async as userL">
  <ng-template [ngIf]="userL.value">
    <ng-container *ngIf="profile$ | withLoading | async as profileL">
      <div *ngIf="profileL.value?.isArtist">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Artist name</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
          </div>
          <div class="form-group">
            <label for="avatarImg">Avatar</label>
            <input type="file" class="form-control-file d-none" accept="image/*" id="avatar" #avatar
                   (change)="updateAvatarPreview()">
            <img class="d-block" height="96" style="cursor: pointer;" id="avatarImg"
                 [src]="avatarPreview$ | async" alt="Avatar preview. Click to select a new one."
                 title="Click here to select a new avatar." aria-describedby="avatarHelp"
                 (click)="avatar.click()">
            <small id="avatarHelp" class="form-text text-muted">Click on the avatar to change it.</small>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="5" id="description" formControlName="description"></textarea>
          </div>
          <label for="examples">Examples</label>
          <div class="row mb-2" id="examples">
            <div class="col-sm-4 col-md-3 col-lg-2" *ngFor="let example of examples$ | async; let index = index">
              <div class="card">
                <img class="card-img-top w-100" [src]="example[1] | async" [alt]="'Example #' + (index + 1)">
                <div class="card-body p-2">
                  <app-profile-artist-example-actions [example]="example[0]"
                                                      [replaceExample]="replaceExample.bind(this)"
                                                      [deleteExample]="deleteExample.bind(this)">
                  </app-profile-artist-example-actions>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
              <div class="card">
                <img class="card-img-top w-100" src="/assets/add.svg" alt="Add new example">
                <div class="card-body p-2">
                  <button class="btn btn-primary stretched-link w-100" (click)="exampleNew.click()" type="button">Add
                  </button>
                </div>
              </div>
            </div>
          </div>
          <input type="file" class="form-control-file d-none" accept="image/*" #exampleNew
                 (change)="addExample()">
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!form.valid">Save</button>
          <button class="btn btn-outline-danger btn-block" type="button"
                  (click)="deleteArtistProfile()">Delete artist profile
          </button>
        </form>
      </div>
      <ng-template [ngIf]="profileL.loading">
        <app-loading></app-loading>
      </ng-template>
      <ng-template [ngIf]="!profileL.loading && (!profileL.value?.isArtist || profileL.error)">
        <p>You are not an artist.</p>
      </ng-template>
    </ng-container>
  </ng-template>
  <ng-template [ngIf]="userL.loading">
    <app-loading></app-loading>
  </ng-template>
  <ng-template [ngIf]="userL.error">
    <p>Please sign in to edit your artist profile.</p>
  </ng-template>
</ng-container>
